*.h linguist-vendored
*.c linguist-vendored
*.cpp linguist-vendored
*.lua linguist-vendored
*.pl linguist-vendored
*.asm linguist-vendored
Makefile filter=(lfs diff=none)
*.s filter=(lfs diff=none)
*.dcl filter=(lfs diff=none)